.chat-login-form {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
}

.chat-register-form {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
}

#login:checked+lable~.chat-login-form {
    max-height: 100px;
    overflow: visible;
    opacity: 1;
}

#register:checked+lable~.chat-register-form {
    max-height: 100px;
    overflow: visible;
    opacity: 1;
}

button {
    border-radius: 15px;
    outline: none;
}

input {
    border-radius: 15px;
    outline: none;
}

form input {
    display: block;
}

input[type="radio"] {
    display: none;
}