/* reset */

body {
    margin: 0;
}

.chat-left-side {
    height: 650px;
    width: 38%;
    float: left;
    background-color: #ac45fd;
    overflow-x: hidden;
    overflow-y: scroll;
}

.chat-users-panel {
    padding-left: 0;
    list-style: none;
}

.chat-users-panel:nth-child(3) {
    border-top: solid 10px #fff;
}

.chat-user-content {
    display: flex;
    justify-content: space-around;
    margin-bottom: 15px;
}

.chat-left-button {
    width: 80px;
}

.chat-left-button button {
    cursor: pointer;
    height: 29px;
    padding-left: 0;
    position: relative;
    width: 100%;
}

.chat-btn-arrow {
    border-bottom: 1px solid #eef4f5;
    border-left: 1px solid #eef4f5;
    height: 20px;
    left: 9px;
    position: absolute;
    top: 5px;
    transform: rotate(45deg);
    width: 20px;
}

.chat-burger-menu {
    height: 35px;
    width: 12%;
}

.chat-burger-menu button {
    cursor: pointer;
    height: 100%;
    width: 100%;
}

.chat-burger-menu .bur {
    background-color: #fff;
    border-radius: 30px;
    height: 3px;
    margin-bottom: 5px;
    margin-left: 15px;
    width: 30px;
}

.chat-user-content:hover {
    background-color: #bd73f7;
}

.chat-user-content:nth-child(2) {
    border-top: solid 1px #fff;
}

.chat-user-image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-image: url(../img/photo.png);
    background-position-x: -10px;
}

.chat-user-status {
    width: 58%;
}

.chat-user-status p {
    text-overflow: ellipsis;
    color: #fff;
}

.chat-right-side ul {
    margin-top: 0;
    padding-left: 14px;
}

.chat-last-seen p {
    width: 40px;
    margin-top: 30px;
    border-radius: 10px;
    text-align: center;
    background-color: #744d92;
    color: #fff;
}

.chat-right-side {
    float: left;
    height: 650px;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 62%;
}

.chat-massege {
    display: flex;
}

.chat-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 10px;
}

.chat-massege:nth-child(odd) {
    justify-content: flex-end;
}

button {
    background-color: transparent;
    border: none;
    outline: none;
}

.chat-info button {
    height: 30px;
    width: 30px;
}

.chat-enter-msg button {
    height: 50px;
    width: 70px;
}

.chat-massege:nth-child(odd) .chat-msg-content {
    order: -1;
}

.chat-massege:nth-child(even) .chat-msg-content .chat-send-time {
    padding-left: 90%;
}

.chat-msg-content {
    max-width: 60%;
}

.chat-send-time p {
    color: #eef4f5;
}

.chat-massege:nth-child(odd) .chat-msg-content .chat-text-msg {
    background-color: #eef4f5;
}

.chat-text-msg {
    align-content: flex-start;
    background-color: #a58adc;
    border-radius: 10px;
    padding: 1px 1px 1px 1px;
}

.chat-text-msg p {
    margin-left: 5px;
    margin-right: 5px;
}

.chat-enter-msg textarea {
    background-color: #eef4f5;
    border: none;
    border-radius: 30px;
    height: 49px;
    outline: none;
    padding: 5px 17px;
    resize: none;
    width: 70%;
}

.chat-enter-msg {
    padding-left: 10%;
}

.icon-files-empty {
    color: #eef4f5;
    font-size: 60px;
}

.icon-user,
.icon-envelop {
    color: #eef4f5;
    font-size: 20px;
}