.chat-input {}

.chat-input__msg textarea {
    background-color: #fff;
    border: none;
    height: 49px;
    outline: none;
    padding: 5px 17px;
    resize: none;
    width: 70%;
}

.typing-message {
    color: #c6daff;
    font-style: italic;
    padding-left: 10px;
}

.chat-input__msg {
    border-bottom: none;
    border-right: none;
    border-left: none;
    border-top: solid 1px #eef4f5;
    display: flex;
    padding-left: 10%;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

button {
    background-color: transparent;
    border: none;
    outline: none;
    height: 74px;
}

.fa {
    color: #ededfa;
}

@media screen and (max-width: 699px) and (min-width: 520px) {
    .chat-input__msg textarea {
        width: auto;
    }
}