.chat-input__msg textarea {
    background-color: #eef4f5;
    border: none;
    border-radius: 30px;
    height: 49px;
    outline: none;
    padding: 5px 17px;
    resize: none;
    width: 70%;
}

.chat-input__msg {
    padding-left: 10%;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

button {
    background-color: transparent;
    border: none;
    outline: none;
}

.fa {
    width: 50px;
    height: 50px;
    color: #eef4f5;
}