<section>
    <form novalidate #f="ngForm" (ngSubmit)="onSubmit(f.value)" class="content">
        <div>
            <input type="email" placeholder="Your email" name="username" required [ngModel]="email">
        </div>
        <div>
            <input type="password" placeholder="Your password" name="password" required [ngModel]="password">
        </div>
        <div>
            <button [disabled]="f.invalid">Login</button>
        </div>
        <div class="social">
            <p>Login with social media</p>
            <button id="google-login-btn">Login with Google</button>
        </div>
    </form>

    <div *ngIf="profile">You are {{username}}<br>Your email is {{email}}</div>

</section>