<section>
    <form novalidate #f="ngForm" (ngSubmit)="onSubmit(f)">
        <input type="email" placeholder="Your email" name="email" required [ngModel]="email">
        <div *ngIf="f.controls.email?.touched" class="error">Email is required</div>
        <input type="password" placeholder="Your password" name="password" required [ngModel]="password">
        <div *ngIf="f.controls.password?.touched" class="error">Password is required</div>

        <button [disabled]="f.invalid">Login</button>
        <button id="google-login-btn">Login with Google</button>
    </form>

    <div *ngIf="profile">You are {{username}}<br>Your email is {{email}}</div>
</section>