<!--start chat content -->
<section class="chat-right-side">
    <ul class="chat-content ">
        <li class="chat-content__info ">
            <button><span class="icon-envelop "></span></button>
            <form>
                <input type="search" name="search" [(ngModel)]="searchValue" (ngModelChange)="onSearchValueChange($event)" id="serchInput">
                <input type="button">
            </form>
            <button><span class="icon-user "></span></button>
        </li>
    </ul>
    <ul class="chat-content__massege1">
        <li class="chat-content__massege" *ngFor='let message of messages | async | MessageFilter: searchValue'>
            <div class="user-content__image "></div>
            <div class="chat-content__container ">
                <div class="chat-content__text " hightlight=true>
                    <p>{{ message.text }}
                    </p>
                </div>
                <div class="chat-content__time ">
                    <p>{{message.sentAt | date:'medium'}}</p>
                </div>
            </div>
        </li>
    </ul>
</section>