<!--start chat content -->
<section class="chat-right-side">
    <ul class="chat-content__massege1 chat-content">
        <li *ngFor='let message of messages'>
            <div class="chat-content__massege" [ngClass]="(user === message.user)?'change-pos':'any'">
                <div class="user-content__image"></div>
                <div class="chat-content__container">
                    <span class="username">{{message.user}}</span>
                    <div class="chat-content__text " [ngClass]="(user === message.user)?'change-pos':'any'" hightlight=true>
                        <p>{{ message.body}}
                        </p>
                    </div>
                    <div class="chat-content__time ">
                        <p>{{message.createAt | date: "mediumTime"}}</p>
                    </div>
                </div>
            </div>
            <audio controls #audio>
                <source src="assets/audio/demonstrative.mp3" type="audio/mpeg">
            </audio>
        </li>
    </ul>
</section>