.chat-content__massege {
    display: flex;
}

ul {
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 0;
}

.list {
    flex-grow: 1
}

.username {
    color: #cdcdf6;
}

.any {
    margin-left: 10px;
}

.any p {
    padding-left: 10px;
}

.any span {
    padding-left: 10px;
}

.change-pos {
    flex-direction: row-reverse;
    margin-right: 10px;
}

.chat-right-side {
    display: flex;
    flex-direction: column;
    height: 440px;
}

@media screen and (max-width: 1000px) and (min-width: 700px) {
    .chat-right-side {
        height: 393px;
    }
}

@media screen and (max-width: 699px) and (min-width: 520px) {
    .chat-right-side {
        width: 336px;
        height: 393px;
    }
    .user-content__image {
        display: none;
    }
}

@media screen and (max-width: 520px) {
    .chat-right-side {
        width: 336px;
        height: 393px;
    }
    .user-content__image {
        display: none;
    }
}

.chat-content__info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 10px;
}

.chat-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.chat-content__massege1 {
    margin-top: 40px;
    margin-top: 40px;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-grow: 2;
    overflow-y: auto;
    margin-top: 0;
}

.user-content__image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-image: url(assets/img/defaultAvatar.png);
    background-position: -10px, 0;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

button {
    background-color: transparent;
    border: none;
    outline: none;
}

.chat-content__info button {
    height: 30px;
    width: 30px;
}

.chat-content__container {
    max-width: 60%;
}

.chat-content__time p {
    color: #cdcdf6;
}

.chat-content__container .chat-content__text {
    background-color: #f1f1fb;
}

audio {
    display: none;
}

.chat-content__text {
    align-content: flex-start;
    border-radius: 10px;
    min-width: 200px;
    padding: 1px 1px 1px 1px;
}

.chat-content__text p {
    color: #474749;
    padding-left: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

input[type="button"] {
    background-color: #eef4f5;
    background-image: url(../img/search.png);
    background-position: -1px 2px;
    ;
    background-repeat: no-repeat;
    border: none;
    border-bottom-right-radius: 16px;
    border-top-right-radius: 16px;
    float: left;
    height: 31px;
    outline: none;
    padding: 5px;
    width: 28px;
}

.chat-content {
    flex: 1;
}

.chat-content__massege {
    flex: 1;
    min-height: 100px;
}