.chat-content__massege {
    display: flex;
}

.chat-content__info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 10px;
}

.chat-content__massege:nth-child(odd) {
    justify-content: flex-end;
}

button {
    background-color: transparent;
    border: none;
    outline: none;
}

.chat-content__info button {
    height: 30px;
    width: 30px;
}

.chat-content__massege:nth-child(odd) .chat-content__container {
    order: -1;
}

.chat-content__massege:nth-child(even) .chat-content__container .chat-content__time {}

.chat-content__container {
    max-width: 60%;
}

.chat-content__time p {
    color: #eef4f5;
}

.chat-content__massege:nth-child(odd) .chat-content__container .chat-content__text {
    background-color: #eef4f5;
}

.chat-content__text {
    align-content: flex-start;
    background-color: #a58adc;
    border-radius: 10px;
    padding: 1px 1px 1px 1px;
}

.chat-content__text p {
    margin-left: 5px;
    margin-right: 5px;
}

input[type="button"] {
    background-color: #eef4f5;
    background-image: url(../img/search.png);
    background-position: -1px 2px;
    ;
    background-repeat: no-repeat;
    border: none;
    border-bottom-right-radius: 16px;
    border-top-right-radius: 16px;
    float: left;
    height: 31px;
    outline: none;
    padding: 5px;
    width: 28px;
}