<section>
    <form novalidate [formGroup]="user" (ngSubmit)="onSubmit(user)" class="content">
        <div>
            <label for="username">Username</label>
            <input type="text" formControlName="username">
            <div *ngIf="user.get('username').hasError('required') && user.get('username').touched" class="error">
                Username is required
            </div>
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" formControlName="password">
            <div *ngIf="user.get('password').hasError('required') && user.get('password').touched" class="error">
                Password is required
            </div>
        </div>
        <!--<div formGroupName="passwords">-->
        <div>
            <label for="email">Email</label>
            <input type="email" formControlName="email">
            <div *ngIf="user.get('email').hasError('required') && user.get('email').touched" class="error">
                Email is required
            </div>
        </div>
        <div>
            <label for="name">Name</label>
            <input type="text" formControlName="name">
            <div *ngIf="user.get('name').hasError('required') && user.get('name').touched" class="error">
                Name is required
            </div>
        </div>
        <!--</div>-->
        <button type="submit" [disabled]="user.invalid">Зареєструватися</button>
        <!-- end wrap in div -->
    </form>
</section>