<nav class="navigation">

    <a routerLink="/" routerLinkActive="active" *ngIf="isLogedIn()">Home</a>
    <a routerLink="/chat" routerLinkActive="active" *ngIf="isLogedIn()">Chat</a>
    <a routerLink="/auth/login" routerLinkActive="active">Login</a>
    <a routerLink="/auth/register" routerLinkActive="active">Register</a>
    <a routerLink="/chat" routerLinkActive="active" *ngIf="isLogedIn()" (click)="onLogOut()">Logout</a>

    <div *ngIf="isLogedIn()" class="status" [ngClass]="!(isConnected | async)?'changebg':'status'"></div>
    <span *ngIf="isLogedIn()" id="username">Hello, {{username}}</span>
</nav>