.navigation a {
    text-decoration: none;
    color: white;
    font-size: 21px;
    margin-left: 11px;
}

.status {
    width: 9px;
    height: 9px;
    background-color: greenyellow;
    border-radius: 50%;
}

.changebg {
    background-color: red;
}

ct-nav {
    display: flex;
    justify-content: space-around;
}