<!Doctype html>
<html>

<head>
    <title>My-chat</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/form_style.css">
</head>

<body>
    <!--start radiobutton -->
    <section class="chat-check">
        <section class="tabs">

            <div class="tab">
                <input type="radio" id="tab-1" name="tab-group-1" checked>
                <label for="tab-1">Увійти</label>

                <div class="content">
                    <!-- wrap in div for position label left of input -->
                    <div>
                        <label for="email">Введіть email</label>
                        <input type="email" name="email" placeholder="Введіть email"></div>
                    <div>
                        <label for="password">Введіть пароль</label>
                        <input type="password" name="password" placeholder="Введіть пароль"></div>
                    <button type="submit">Увійти</button>
                </div>
            </div>

            <div class="tab">
                <input type="radio" id="tab-2" name="tab-group-1">
                <label for="tab-2">Зареєструватися</label>

                <div class="content">
                    <div>
                        <label for="name">Ім'я</label>
                        <input type="text" name="name" placeholder="Введіть Ваше ім'я"></div>
                    <div>
                        <label for="age">Вік</label>
                        <input type="number" name="age" placeholder="Ведіть Ваш вік"></div>
                    <div>
                        <label for="email">Email</label>
                        <input type="email" name="email" placeholder="Введіть email"></div>
                    <div>
                        <label for="password">Пароль</label>
                        <input type="password" name="password" placeholder="Придумайте пароль"></div>
                    <div>
                        <label for="password2">Ще раз пароль</label>
                        <input type="password2" name="password2" placeholder="Підтвердіть пароль"></div>
                    <button type="submit">Зареєструватися</button>
                    <!-- end wrap in div -->
                </div>
            </div>

        </section>
    </section>
    <!-- end register form -->
    </section>
</body>