    .tabs {
        clear: both;
        min-height: 278px;
        margin: 127px auto;
        position: relative;
        width: 500px;
    }
    
    .tab {
        float: left;
        width: 50%;
    }
    
    .tab>label {
        background-color: #ac45fd;
        border: 1px solid #ac45fd;
        display: inline-block;
        left: 1px;
        margin-left: -1px;
        padding: 10px;
        position: relative;
        text-align: center;
        width: 91%;
    }
    
    .tab [type=radio] {
        display: none;
    }
    
    .content {
        background-color: #ac45fd;
        border: 1px solid #ac45fd;
        bottom: 0;
        left: 0;
        padding: 20px;
        position: absolute;
        right: 0;
        top: 39px;
    }
    
    [type=radio]:checked~label {
        background-color: #b32ecc;
        border-bottom: 1px solid #b32ecc;
        padding: 10px;
        width: 91%;
        z-index: 2;
    }
    
    [type=radio]:checked~label~.content {
        z-index: 1;
    }
    
    .content input {
        background-color: #b32ecc;
        border: none;
        border-radius: 6px;
        color: #ffffff;
        height: 21px;
        margin: auto;
        margin-bottom: 13px;
        outline: none;
        padding-left: 5px;
    }
    
    .content label {
        float: left;
        margin-right: 1em;
        text-align: right;
        width: 10em;
    }
    
    button {
        background-color: #b32ecc;
        border: none;
        border-radius: 6px;
        margin-left: 66%;
        outline: none;
        padding: 5px;
    }