* {
    background-color: #ac45fd;
}

h1 {
    margin: 0;
    padding: 0;
}

#app-home {
    border-top: 1px solid white;
    color: #722e88;
    padding-left: 5%;
    padding-bottom: 20px;
    padding-top: 20px;
}

body {
    margin: 0;
}