h1 {
    margin: 0;
    padding: 0;
}

#app-home {
    border-top: 1px solid white;
    padding-left: 10px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.home {
    border: 5px solid #d7d8f1;
    min-height: 520px;
    width: 1356px;
}

@media screen and (max-width: 1000px) and (min-width: 700px) {
    .home {
        width: 729px;
    }
}

@media screen and (max-width: 699px) and (min-width: 520px) {
    .home {
        width: 543px;
    }
}

body {
    margin: 0;
}