nav {
    align-items: baseline;
    background-color: #6a6cb5;
    color: white;
    display: flex;
    font-size: 24px;
    justify-content: space-between;
    padding-left: 16px;
    padding-right: 13px;
    border: 5px solid #d7d8f1;
    border-bottom: none;
    width: 1327px;
}

@media screen and (max-width: 1000px) and (min-width: 700px) {
    nav {
        width: 700px;
    }
}

@media screen and (max-width: 699px) and (min-width: 520px) {
    nav {
        width: 514px;
    }
}

a {
    text-decoration: none;
    color: white;
}