nav {
    align-items: baseline;
    background-color: #ac45fd;
    color: #722e88;
    display: flex;
    font-size: 24px;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
}

a {
    text-decoration: none;
}