 .chats-page {
     border: solid 6px #d7d8f1;
     display: flex;
     width: 1354px;
 }
 
 @media screen and (max-width: 1000px) and (min-width: 700px) {
     .chats-page {
         width: 727px;
     }
 }
 
 h1 {
     margin: 0;
 }