 .chats-page {
     border: solid 6px #d7d8f1;
     display: flex;
     width: calc(100%-10px);
 }
 
 @media screen and (max-width: 1000px) and (min-width: 700px) {
     .chats-page {
         width: calc(100%-10px);
         height: 457px;
     }
 }
 
 @media screen and (max-width: 699px) and (min-width: 520px) {
     .chats-page {
         width: calc(100%-10px);
         height: 457px;
     }
 }
 
 @media screen and (max-width: 520px) {
     .chats-page {
         width: calc(100%-10px);
         height: 457px;
     }
 }
 
 h1 {
     margin: 0;
 }