<section class="chat-left-side" [ngClass]="{'change-width': isClassVisible }">
    <!-- <section class="chat-left-menu"> -->
    <ul class="chat-users-panel">
        <li class="left-nav">
            <div class="left-nav__button" (click)="isClassVisible = !isClassVisible;">
                <input type="checkbox" class="left-nav__input" [ngClass]="{'change-width': isClassVisible }">
            </div>
            <form>
                <input type="search" name="serch" [(ngModel)]="searchValue " (ngModelChange)="onSearchValueChange($event) " id="searchInput ">
                <input type="button">
            </form>
            <div class="left-nav__menu ">
                <button>
                        <div class="burger "></div>
                        <div class="burger "></div>
                        <div class="burger "></div>
                    </button>
            </div>
        </li>
    </ul>
    <ul>

        <li class="user-content " *ngFor="let chat of chats | chatPipe: searchValue" (click)="select({id: chat.id}) " change-color>
            <div class="user-content__image ">
            </div>
            <div class="user-content__status" [ngClass]="{'change-width': isClassVisible }">
                <p>{{chat.username}}</p>
                <p></p>
            </div>
            <div class="user-content__time ">
                <p class="time ">{{ value | time }} h </p>
            </div>
        </li>

    </ul>
</section>