<section class="chat-left-side">
    <!-- <section class="chat-left-menu"> -->
    <ul class="chat-users-panel">
        <li class="left-nav">
            <div class="left-nav__button">
                <input type="checkbox" class="left-nav__input" onclick="myFunction()">
            </div>
            <div class="left-nav__serch">
                <form>
                    <input type="search">
                    <input type="button">
                </form>
            </div>
            <div class="left-nav__menu">
                <button>
                        <div class="burger"></div>
                        <div class="burger"></div>
                        <div class="burger"></div>
                    </button>
            </div>
        </li>
    </ul>
    <ul>

        <li class="user-content" *ngFor='let chat of chats | async' (click)="select({id: chat.id})" change-color>
            <div class="user-content__image ">
            </div>
            <div class="user-content__status ">
                <p>{{chat.name}}</p>
                <p>{{chat.status}}</p>
            </div>
            <div class="user-content__time ">
                <p class="time ">{{ value | time }} h </p>
            </div>
        </li>

    </ul>
</section>